@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .socials {
    display: none;
  }
  .link {
    display: none;
  }
}
